@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>Welcome to Food4Everyone</h1>
    <p>Foods are everywhere, food 4 everyone.</p>
    <p>This is the Week 1 UI skeleton of the catering web project.</p>
</div>